body {
  min-width: 900px;
  font-size: 16px;
  font-family: "Roboto", Trebuchet MS, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: #323232;
  background: #849d8f;
}
body > input[type="radio"] {
  display: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #849d8f url("../img/banner-1.png") no-repeat top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.wrapper::before,
.wrapper::after {
  content: "";
  visibility: hidden;
}

.wrapper::before {
  background: #8996a6 url("../img/banner-2.png");
}

.wrapper::after {
  background: #9d8b84 url("../img/banner-3.png");
}
/*Нужен ли мне этот блок вообще?*/
.content-wrapper {
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  font-family: "Roboto", Trebuchet MS, sans-serif;
  font-weight: bold;
  line-height: 60px;
  color: #ffffff;
}

h2 {
  font-size: 35px;
  font-family: "Roboto", Trebuchet MS, sans-serif;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
}

.header-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.logo {
  padding-top: 10px;
  width: 154px;
}
.main-content {
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.main-nav {
  padding-top: 10px;
  width: 50%;
}

.user-block {
  position: relative;
  width: 31%;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.nav {
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-left: 12px;

}

.nav li.main-navigation {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 18px;
}
li.main-navigation a {
  display: block;
  color: #ffffff;
  padding: 3px 14px;
  text-decoration: none;
  position: relative;
}

.main-navigation a:hover {
  background-color: #f7f6f3;
  color: #333333;
  border-radius: 14px;
  text-decoration: none;
}

.main-navigation a::after {
  position: absolute;
  content: "";
  left: 14px;
  right: 14px;
  bottom: 2px;
  width: inherit;
  border-bottom: 1px solid #adbdb4;
}

.main-navigation a:hover::after {
  display:none;
}
.navigation-level-two {
  display: none;
}
.navigation-level-two li {
  list-style: none;
}

a.search {
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: #ffffff;
  background: #acc3b6 url("../img/icon-search.png") no-repeat center;
  border-radius: 50%;

}
a.search:hover {
  background: #f8f7f4 url("../img/icon-search-hover.png") no-repeat center;

}

a.login{
  display: block;
  position: relative;
  padding: 8px 15px 8px 45px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #a0b3a9;
  border-radius: 14px;
}

a.login::before {
  position: absolute;
  content:"";
  width:21px;
  height: 19px;
  top: 6px;
  left: 16px;
  background: url("../img/icon-login.png") no-repeat;
}
a.login:hover {
  color: #323232;
  background-color: #f7f6f3;
}

a.login:hover::before {
  background: url("../img/icon-login-hover.png") no-repeat;
}
a.cart-empty {
  display: none;
  position: relative;
  padding: 8px 35px 8px 45px;
  text-decoration: none;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #a0b3a9;
  border-radius: 14px;
}

a.cart-empty::before {
  display:none;
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
  background: url("../img/icon-cart.png") no-repeat;
}

a.cart-full {
  display: block;
  position: relative;
  padding: 8px 15px 8px 45px;
  text-decoration: none;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 14px;
}

a.cart-full::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
  background: url("../img/icon-cart-full.png") no-repeat;

}
a.phone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  pointer-events: none;
  text-decoration: none;
  margin-right: 0;
}

.contact-details {
  position: absolute;
  top: 70px;
  right: 2.3%;
}

.contact-details span {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
}

/*Slider*/

.banner-slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slide {
  display: none;
}
#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .wrapper {
  background: #849d8f url("../img/banner-1.png") no-repeat;
}

#btn-2:checked ~ .wrapper {
  background: #8996a6 url("../img/banner-2.png") no-repeat;
}

#btn-3:checked ~ .wrapper {
  background: #9d8b84 url("../img/banner-3.png") no-repeat;
}

#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


/*
.banner-slider {
  position: relative;
  z-index: -1;
}

.banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.banner img {
  display: block;
  width: 100%;
  height: auto;
}

.slideshow {
  margin-top:-80px;
}

.banner-2,
.banner-3 {
  display:none;
}

*/
.promo-block {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.promo-jam {
  width: 48.8%;
  box-sizing: border-box;
  background: url("../img/raspberry-bg.jpg") no-repeat;
  border-radius: 15px;
  margin-right: 2.2%;
}

.promo-chocolate {
  flex-basis: 48.8%;
  box-sizing: border-box;
  background: url("../img/chocolate-bg.jpg") no-repeat;
  border-radius: 15px;
  margin-right: 0;
}

.promo-block:nth-of-type(even) {
  margin-right: 0;
}

/*why did I have to do that?? something with normalise...*/
figure {
  margin: 0 0;
}

.favourites {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 40px;
  justify-content: space-between;
}

.favourite-item {
  width: 23.3%;
  margin-right: 2.2%;
}

.favourite-item:nth-of-type(4n) {
  margin-right: 0;
}

.favourite img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: auto;
}

.about-us {
  background: url("../img/bg-about-us.jpg");
  border-radius: 15px;
  margin-bottom: 40px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.about p {
  width: 44.4%;
  box-sizing: border-box;
}

.blog-newsletter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-new {
  width: 48.8%;
  background: url("../img/strawberry-bg.jpg") no-repeat;
  border-radius: 15px;
}

.newsletter {
  width: 48.8%;
  background: #ffffff url("../img/newsletter-pattern.png");
  /* background: #f8f7f4 5px 5px/540px 210px; как же все-таки сделать серый бг поверх имеющегося паттерна? */
  border-radius: 15px;
}

.map-holder img{
  display: block;
}

.location {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.address {
  position: absolute;
  top: 50px;
  right: 0;
  width: 303px;
  background-color: #ffffff;
  border-radius: 15px;
}

.pin img {
  width: 80px;
  display: block;
  height: auto;
  position: absolute;
  top: 140px;
  left: 240px;
}

.main-footer {
  padding: 18px 2.3% 18px 2.3%;
  display: flex;
  justify-content: space-between;
}

.social {
  width:22.2%;
}

.additional-info {
  width: 44.4%;
}

.footer-copyright {
  width: 22.2%;
}

/*Catalog*/
.breadcrumbs {
  max-width: 44.4%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0; /*так и не поняла, почему смещается вправо и появляется 40px паддинга?!*/
}

.breadcrumbs-nav li {
  display: inline-block;
  list-style: none;
}

.breadcrumbs-nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", Trebuchet MS, sans-serif;
  font-weight: normal;
  line-height: 16px;
}

.filters-row-1 {
  margin-bottom: 15px;
}

.sort-by,
.range,
.wrapper-fat {
  display: inline-block;
  vertical-align: top;
}

.sort-by {
  width: 194px;
  box-sizing: border-box;
  margin-right: 17px;
}

.range {
  width: 218px;
  box-sizing: border-box;
  margin-right: 17px;
}
/*опять какие-то дефолтные стили :( поэтому обнулила */
.range p {
  margin-bottom: 0;
  margin-top: 0;
}
/*как сделать так, чтобы блок с фильтром жирность не падал на новую строчку? Он падает, когда ширина меньше 900 px, но я не знаю как остановить!*/
.wrapper-fat {
  width: 416px;
  box-sizing:border-box;
}

.filters-row-2 {
  margin-bottom: 40px;
}

.addons,
.submit {
  display: inline-block;
  vertical-align: top;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.catalog-item {
  width: 23.3%;
  margin-right: 2.2%;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

figure.item img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

article.catalog-item:last-of-type {
  margin-bottom: 75px;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

.pagination-button {
  color: #ffffff;
}
